<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>09-hello-mvc</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name></display-name>
		<servlet-name>dispatch</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/controller-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatch</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/root-config.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>

<!-- Without the tag <init-param> we need to set our config for bean thae 
	same with the servlet name + -servlet for example (hello-servlet.xml). If 
	servlet name is long, it is annoying to give the full name. So we set <init-param> 
	<param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/controller-config.xml</param-value> 
	</init-param> this tag, we just need to give the name we set it is ok to 
	use. The servlets are called when we go to specific route, If we set <load-on-startup>1</load-on-startup> 
	it call when the application starts. The bean which we created is called 
	root application context. When we add this tag <listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
	</listener> the ContextLoaderListener find the config file for our bean to 
	use in spring mvc. The default name of the config file is applicationContext.xml 
	and if you do not define specific name you have to set the name applicationContext.xml. 
	We can give alias name with <context-param> <param-name>contextConfigLocation</param-name> 
	<param-value>/WEB-INF/controller-config.xml</param-value> </context-param> -->